/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ----- End off CSS Reset by Josh W. Comeau ------  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  --color-background-primary: #fed16a;
  /* --color-background-primary: #386641; */
  --color-accent-primary: #f97a00;
  --color-accent-secondary: #fed16a;
  --color-background-secondary: #fff4a4;
  --color-text-primary: #404040;
  --color-text-darker: #1f1f1f;
  --color-text-secondary: #fefbc7;

  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 14px;
}

::backdrop {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background-secondary);
  gap: 2rem;
}

.header {
  background: var(--color-background-primary);
  align-self: stretch;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav .nav-link {
  text-decoration: none;
}

#library {
  color: var(--color-text-primary);
  padding: 2rem 1.5rem 3rem;
  background-color: var(--color-accent-secondary);
  border-radius: 12px;
}

#library table {
  border-collapse: collapse;
}

#library .table-h {
  border-bottom: 1px solid var(--color-accent-primary);
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
}
.td-yearPublished,
.td-pages {
  text-align: right;
}

#library tbody tr td:first-child {
  font-weight: 600;
}

#library tbody tr:nth-child(even) {
  background-color: #f97a00;
  td:not(:last-child) {
    color: var(--color-text-secondary);
  }
}

#library td,
.table-h {
  padding: 0.6rem 0.7rem;
}

.td-ISBN,
.td-genre,
.td-read {
  text-align: right;
}

td[data-status] {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

td[data-status="done"] {
  color: #006600;
}
td[data-status="pending"] {
  color: #d9512c;
}

td[data-status="pending"]::before {
  content: "x";
  font-weight: bold;
}

td[data-status="done"]::before {
  content: "✔";
  font-weight: bold;
}

.read-status:hover {
  cursor: pointer;
}
